{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById('myChart').getContext('2d');

    // Sample data
    const chartData = JSON.parse("{{ chart_data | escapejs }}");
    // Parse the dates to JS
    chartData.forEach((d) => {
        d.x = new Date(d.date);
    });
    // Sample data
    const chartData2 = JSON.parse("{{ auction_completed | escapejs }}");
    // Parse the dates to JS
    chartData2.forEach((d) => {
        d.x = new Date(d.date);
    });

    // Render the chart
    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
        datasets: [
            {
            label: 'Auction Created',
            data: chartData,
            backgroundColor: 'rgba(220,20,20,0.5)',
            },
            {
            label: 'Auction Completed',
            data: chartData2,
            backgroundColor: 'rgba(20,220,20,0.5)',
            },
        ],
        },
        options: {
        responsive: true,
        scales: {
            xAxes: [
            {
                type: 'time',
                time: {
                unit: 'day',
                round: 'day',
                displayFormats: {
                    day: 'MMM D',
                },
                },
            },
            ],
            yAxes: [
            {
                ticks: {
                beginAtZero: true,
                },
            },
            ],
        },
        },
    });
    });
</script>
{% endblock %}

{% block content %}
<div style="width: 10%">
    <h2>Auction Running: {{auction_running}}</h2>
    <h2>Total Auction Value: {{auction_value}}</h2>
</div>
<!-- Render our chart -->
<div style="width: 80%;">
  <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
</div>
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}